// $black: #030303;

// div {
//     a {
//         color: $black;
//     }
//     div{
//         @extend %shadow;
//         background-color: red;
//     }
// }
// %shadow{
//     box-shadow: 0 0 0 black;
// }
$light-bg: #f3f3f3;
$light-accent: #ffffff;
$light-paper: #F8DE7E;

$dark-bg: #363636;
$dark-accent: #444444;
$dark-paper: #595959;

.light {
    background-color: $light-bg;
    color: $dark-accent;
}

.light-text {
    color: $dark-accent;
}

.light-accent {
    background-color: $light-accent;
    color: $dark-bg;
}

.light-accent-text {
    color: $dark-bg;
}

.dark {
    background-color: $dark-bg;
    color: $light-accent;
}

.dark-text{
    color: $light-accent;
}

.dark-accent {
    background-color: $dark-accent;
    color: $light-bg;
}

.dark-accent-text {
    color: $light-bg;
}

%light-card-shadow {
    box-shadow: 1px 1px 5px gray;
}


html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
}

body {
    display: flex;
    flex-direction: row;

    width: 100%;

    overflow: hidden;
}

.section,
.subsection {
    // border: 1px solid red;s
}

.section {
    height: 100%;
}

.subsection {
    width: 100%;
}


#webColSec {
    width: 7%;
}

#mainColSec {
    width: 68%;

    #headRowSec {
        height: 25%;
        display: flex;
        flex-direction: row;

        #weatherAndSearchSec {
            width: 35%;
        }

        #noteSec {
            width: 55%;
        }

        #emotionSec {
            width: 10%;
        }
    }


    #tipsRowSec {
        height: 55%;
    }

    #newsRowSec {
        height: 20%;

    }
}

#suggestColSec {
    width: 25%;
}


/////////////////////Websites Section////////////////////////

#webColSec {
    text-align: center;
    padding-top: 1%;

    .web-icon {
        position: relative;
        width: 3rem;
        height: 3rem;
        text-align: center;
        // line-height: 150%;
        // background-color: $light-accent;
        font-size: 1.8rem;
        color: $light-accent;
        box-shadow: 0 2px 5px 0 #00000020;
        
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 1px;

        background-color: #ff7a7a; // going to be deleted
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
    }

    .web-subtitle {
        text-align: center;
        font-size: 1rem;
        margin-top: 5px;
    }

    .web, .web:hover {
        transition-duration: .2s;
    }

    .web:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    .web:hover .web-icon{
        box-shadow: none;
    }

    .web:hover .web-subtitle{
        opacity: 1.5;
        font-weight: bold;
    }

    .web:hover a {
        text-decoration: none !important;
        border:0 !important;
        outline:none;
    }

    
    // .web-subtitle:hover {
        
    // }


    button {
        width: 100%;
        background: none;
        border: none;
        outline: none !important;
    }

    .edit-bar {
        margin: auto;
        margin-top: 1rem;
        width: 3.5rem;
        height: 5px;
        border-radius: 50px;
        background-image: linear-gradient(to right, lightgreen, aquamarine);
    }

    .edit-bar:hover {
        opacity: .5;
        background-image: linear-gradient(to right, aqua, deepskyblue);
    }
}


///////////////////////// Weather Section ///////////////////////

#weatherCard,
#note,
#emoBtn {
    margin-top: 1rem;
    border-radius: 20px;
}

#weatherCard,
#search {
    width: 80%;
}

#weatherCard {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 5rem;

    padding-left: 1.6rem;
    padding-right: 1.6rem;


    background-color: #9BD1F5;

    #weatherIcon {
        margin-right: 1rem;
        margin-left: -1rem;
        icon {
            position: relative;
            bottom: 8px;
            font-size: 3rem;
        }
    }

    #weatherInfo {
        flex-direction: column;
        color: $dark-bg;

        h4 {
            font-size: 1.3rem;
            font-weight: bold;
        }

        #weatherTemp {
            margin-left: 8px;
        }

        #weatherTemp::after {
            content: "℃";
        }

    }
}

///////////////////////// End Weather Section ///////////////////////

///////////////////////// Search Section ///////////////////////
#search {
    margin-top: .9rem;
    position: relative;
    width: 80%;


    input {
        width: 100%;
        height: 2.5rem;
        padding-left: 1rem;
        padding-right: 2.5rem;

        border-radius: 20px;
        border: none;
        outline: none !important;
    }

    input:focus {
        box-shadow: 2px 2px 5px #00000020;
        transition-duration: .3s;
    }

    #searchSubmit {
        width: 2rem;
        position: absolute;
        right: .8rem;
        font-size: 1.5rem;

        background: none;
        border: none;
        outline: none !important;
    }
}

///////////////////////// End Search Section ///////////////////////

///////////////////////// Note Section ///////////////////////
#noteSec {
    position: relative;

    #penIcon {
        position: absolute;
        top: 1rem;
        right: 1rem;

        font-size: 2rem;
    }
}

#note {
    width: 100%;
    height: 8.3rem;
    padding-left: 1rem;
    padding-right: 4rem;
    padding-top: .7rem;
    padding-bottom: .7rem;

    resize: none;
    outline: none !important;
    border: none;
    background-color: $light-paper;
    // box-shadow: 1px 1px 5px gray;
    @extend %light-card-shadow;
}

#note:focus {
    box-shadow: 1px 1px 10px gray;
    transition-duration: .3s;
}

///////////////////////// End Note Section ///////////////////////

///////////////////////// Emotion Section ///////////////////////
#emoBtn {
    width: 100%;

    border: none;
    background: transparent;
    outline: none !important;

    h1 {
        text-shadow: 1px 1px 5px gray;
    }
}

///////////////////////// End Emotion Section ///////////////////////


///////////////////////// Tips Section ///////////////////////////////

#tipsRowSec {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .activity, .tip {
        margin-top: auto;
        margin-bottom: auto;
        height: 82%;
        position: relative;
        border-radius: 15px;
        box-shadow: 2px 2px 5px rgba(67, 67, 67, .3);
    }

    .activity {
        width: 38%;
        background-color: #c4fadf;  

        h2 {
            margin-top: .6em;
            margin-left: .7em;
            background: transparent;
        }

        img {
            width: auto;
            height: 60%;
            position: absolute;
            right: 1em;
            bottom: 2em;
        }
    }

    .tip {
        width: 23%;
        overflow: hidden;

        .tip-img {
            width: auto;
            height: 100%;
            transition: .3s;
        }

        .texts {
            left: 1.2rem;
            color: $light-bg;
        }


        .top-line, .bottom-line {
            font-size: 1.5rem;
            font-weight: 500;
        }

        .top-line {
            top: 1rem;
        }

        .bottom-line {
            bottom: 1rem;
        }

        .name {
            bottom: 3rem;
            font-size: 2rem;
            font-weight: 700;
        }
    }

    #localTips{
        .name{
            bottom: 1rem;
        }
    }

    .tip :not(img) {
        z-index: 1;
        position: absolute;
        opacity: 0;
        transition: .3s;
    }

    .tip:hover img {
        filter: blur(2px) brightness(60%);
    }

    .tip:hover :not(img) {
        opacity: 1;
    }
}


///////////////////////// End Tips Section ///////////////////////////////


/////////////////////News Section/////////////////////////////

#newsRowSec{
    .news-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    icon{
        font-size: 1.5rem;
        margin-right: 1rem;
    }
    
    #newsContainer {
        position: relative;
        width: 92%;
        height: 3rem;
        margin: auto;
        margin-top: 2rem;
        padding-left: 1.2rem;
        padding-right: 2rem;

        box-shadow: 2px 2px 5px #00000040;
        border-radius: 50px;
        
    }
    
    a {
        font-size: 1.1rem;
        color: $dark-accent;
        width: 95%;
        height: 5em;
        line-height: 5em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    a, a:hover{
        transition-duration: .3s;
    }
}

////////////////////////End News Section//////////////////



///////////////////// Suggestion Section /////////////////////////////

#suggestColSec{
    
    overflow-y: scroll;
    overflow-x: hidden;
  
    padding-top: 1rem;
    padding-bottom: 2rem;

    h3{
        font-size: 1rem;
        font-weight: bold;
    }

    .sugg-card, .sugg-img{
        border-radius: 15px;
        box-shadow: 2px 2px 5px #00000020;
    }

    .sugg-card{
        width: 16rem; 
        height: 20rem;
        padding: 1rem;
        margin-bottom: 1.5rem;
    }

    .sugg-img{
        margin-bottom: 1rem;
    }

    .sugg-title{
        color: $dark-accent;
        font-size: 1.2rem;
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
        width:12rem;
    }

}

//////////////////////// End Suggestion Section //////////////////