// $black: #030303;

// div {
//     a {
//         color: $black;
//     }
//     div{
//         @extend %shadow;
//         background-color: red;
//     }
// }
// %shadow{
//     box-shadow: 0 0 0 black;
// }
$light-bg: #f3f3f3;
$light-accent: #ffffff;
$light-paper: #F8DE7E;

$dark-bg: #363636;
$dark-accent: #444444;
$dark-paper: #595959;

.light{
    background-color: $light-bg;
    color: $dark-accent;
}

.light-accent{
    background-color: $light-accent;
    color: $dark-bg;
}

.dark{
    background-color: $dark-bg;
    color: $light-accent;
}

.dark-accent{
    background-color: $dark-accent;
    color: $light-bg;
}


html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    position: fixed;
    top:0;
    left:0;
}
body{
    display: flex;
    flex-direction: row;

    width: 100%;

    overflow: hidden;
}

// .col{
//     display: flex;
//     flex-direction: column;
// }

// .row{
//     display: flex;
//     flex-direction: row;
// }

.section, .subsection{
    // border: 1px solid red;s
}

.section{
    height: 100%;
}

.subsection{
    width: 100%;
}


#webColSec {
    width: 8%;

    background-color: #e3b4b8;

}

#mainColSec {
    width: 68%;

    #headRowSec {
        height: 25%;
        display: flex;
        flex-direction: row;

        #weatherAndSearchSec {
            width: 35%;
        }

        #noteSec{
            width: 55%;
        }

        #emotionSec{
            width: 10%;
        }
    }


    #tipsRowSec{
        height: 55%;
        background-color:#d0dfe6;
    }

    #newsRowSec{
        height: 20%;    
        background-color:#f8e8c1;

    }
}

#suggestColSec {
    width: 25%;
    background-color: #93d5dc;
}


///////////////////////// Weather Section ///////////////////////

#weatherCard, #note, #emoBtn{
    margin-top: 1rem;
    border-radius: 20px;
}

#weatherCard, #search{
    width: 80%;
}

#weatherCard{
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 5rem;

    padding-left: 1.6rem;
    padding-right: 1.6rem;

    
    background-color: #9BD1F5;

    #weatherIcon {
        margin-right: 1rem;
        a{
            position: relative;
            bottom: 8px;
            font-size: 3rem;
        }
    }

    #weatherInfo {
        flex-direction: column;
        color: $dark-bg;

        h4{
            font-size: 1.3rem;
            font-weight: bold;
        }

        span{
            margin-left: 1.5rem;
        }

        span::after{
            content: "℃";
        }

    }
}
///////////////////////// End Weather Section ///////////////////////

///////////////////////// Search Section ///////////////////////
#search{
    margin-top: 0.9rem;
    position: relative;
    width: 80%;
    

    input{
        width: 100%;
        height: 2.5rem;
        padding-left: 1rem;
        padding-right: 2.5rem;

        border-radius: 20px;
        border:none;
        outline:none !important;
    }

    #searchSubmit{
        width: 2rem;
        position: absolute;
        right: 0.8rem;
        font-size: 1.5rem;

        background: none;
        border: none;
        outline: none !important;
    }
}

///////////////////////// End Search Section ///////////////////////

///////////////////////// Note Section ///////////////////////
#noteSec{
    position: relative;
    #penIcon{
        position: absolute;
        top:1rem;
        right: 1rem;
        
        font-size: 2rem;
    }
}

#note{
    width: 100%;
    height: 80%;
    padding-left: 1rem;
    padding-right: 4rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;

    resize: none;
    outline:none !important;
    border:none;
    background-color: $light-paper;
    box-shadow: 1px 1px 5px gray;
}

///////////////////////// End Note Section ///////////////////////

///////////////////////// Emotion Section ///////////////////////
#emoBtn{
    width: 100%;

    border: none;
    background: transparent;
    outline: none !important;

    h1{
        text-shadow: 1px 1px 5px gray;
    }
}
///////////////////////// End Emotion Section ///////////////////////

////////////////////////News Section////////////////////// 
.center {
    position: auto;
    padding: 0%;
    margin: 1%;
    border: 10% none #f8e8c1;
    border-radius: 10em;
  }
  
  li {
    background: #f7f7f7d5;
    color: rgb(121, 121, 121);
    font-size: 20px;
    list-style-type: none;
    padding: 5%;
    margin: 0%;
    transition: background-color 1s;
    word-wrap: break-word;
  }
  
 // ul.center li:nth-child(1) {
 //   color: #fff;
 //   background: rgb(115, 180, 174);
 // }
  
  li:hover {
    color: #fff;
    background: rgb(209, 209, 209);
  }



  
/////////////////////News Section/////////////////////////////
.newssection{
    display: flex;
    align-items: center;
}


#newsPart{
    position: relative;
    width: 90%;
    height: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25em;
    padding-left: 2em;
    padding-right: 0;
    
    
}

#newsText{
    font-size: 1.8em;
    color: $dark-accent;
    width: 95%;
    height: 5em;
    line-height: 5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

#newsText:hover{
    color: $dark-bg;
}
#newsPart:hover{
    background-color: #e7e5e5;
}
#newsText::before{
    content: "💥  ";
    font-size: 200%;
    vertical-align: -7% ;

}
////////////////////////End News Section//////////////////

